<%#=
    I believe when a user clicks on the "Cancel" button when editing a quote,
    then the server redirects the user to the #index page. Because this
    _quote.html.erb partial contains the HTML for this given quote, it'll
    replace the edit form that the user had opened before canceling...
    In this case, the turbo_frame below is the "target" page.
%>
<%= turbo_frame_tag(quote) do %>
  <div class="quote">
    <%= link_to quote.name,
                quote_path(quote),
                data: { turbo_frame: "_top" }
        # The reason we need to utilize the data_turbo_frame attribute
        # is that each quote is nested under an already existing
        # turbo_frame_tag, so this data_turbo_frame helps us to target
        # a different page.
    %>
    <div class="quote__actions">
      <%= link_to "Edit",
                  edit_quote_path(quote),
                  class: "btn btn--light" %>
      <%= link_to "Find Author",
                  find_author_quote_path(quote),
                  class: "btn btn--light" %>
    </div>
  </div>
<% end %>
