<main class="container">
  <%= link_to sanitize("&larr; Back to quote"), quote_path(@quote) %>

  <div class="header">
    <h1>Edit quote</h1>
  </div>

  <%#=
    Turbo frame that originally included the form partial below has now
    been added instead INSIDE the form, for the purposes of returning
    just the form content within the turbo frame tag, instead of returning
    the entire edit partial.
  %>
  <%= render "form", quote: @quote %>
</main>
