<%#=
  The following line lets the users be subscribed to the "quotes" stream.
%>
<%= turbo_stream_from current_company, "quotes" %>

<main class="container">
  <div class="header">
    <h1>Quotes</h1>
    <%= link_to "New quote",
                new_quote_path,
                class: "btn btn--primary",
                data: { turbo_frame: dom_id(Quote.new) }
        # Because the turbo_frame_tag below is empty, we need to
        # utilize the data_turbo_frame attribute to connect this
        # link to the new quote form to the turbo frame below.
        # Also, because this link now has Turbo, when a user clicks
        # on this link, Turbo will turn this request into AJAX and
        # will look for a frame id of 'new_quote'. When the server
        # responds with HTML associated with the #new partial, Turbo
        # will extract just the turbo frame with the id of 'new_quote'
        # and render it in the place of the turbo frame below!
    %>
  </div>

  <%= turbo_frame_tag Quote.new %>

  <%= turbo_frame_tag "quotes" do %>
    <% render @view.quotes %>
  <% end %>
</main>
