<main class="container">
  <%= link_to sanitize("&larr; Back to quotes"), quotes_path %>

  <div class="header">
    <h1>New quote</h1>
  </div>

  <%#=
    On this 'new' partial, the 'turbo_frame_tag @quote' is the same
    as 'turbo_frame_tag "new_quote"'. When a user clicks on the "New Quote"
    link on the index page, the server will render this partial in response,
    but Turbo will extract just the frame below and render it on the target
    page, which in this case, is back on the index page!
  %>
  <%= turbo_frame_tag @quote do %>
    <%= render "form", quote: @quote %>
  <% end %> %>
</main>