<main class="container">
  <div class="home">
    <h1>Quote Finder</h1>

    <p>A blazing fast quote finder built with Hotwire</p>

    <% if user_signed_in? %>
      <%= link_to "View quotes", quotes_path, class: "btn btn--dark" %>
    <% else %>
      <%= link_to "Sign in", new_user_session_path, class: "btn btn--dark" %>
    <% end %>
  </div>
</main>
